.box {
    width: 100px;
    height: 100px;
    background-color: orange; 
    transition: 1s;
}

.box:focus {
    width: 300px;
    height: 300px;
    background-color: salmon;
}

input {
    width: 100px;
    height: 100px;

}

input:focus   {
    background-color: greenyellow;
}

.img{
    border: 5px solid yellow;
}

#img_house {
    border: 3px dotted blue;
}

/* div, input, img {
    color: pink;
} */

div span {
    text-align: center;
    size: 5px;
}

.fruits span:first-child {
    color: red;
}

.fruits span:last-child{
    color: greenyellow;
}

.fruits h3:last-child{
    color: blue;
}

.fruits *:nth-child(2n){
    color: brown;
}

.fruits *:nth-child(2n-1){
    color: aqua;
}

th, td {
    width: 100px;
    border: 1px solid black;
    text-align: center;
}

#f {
    width: 100%;
    height: 100%;
}

.bullet li{
    /* display: none; */
    text-decoration: none;
}