table, th, td, tr {
    border: 1px solid black;
    height: 100px;
}

table {
    width: 50%;
    position: relative;
    left: 25%;
}

tr :last-child {
    color: red;
}

tr :nth-child(6){
    color: blue;
}

body {
    background-image: url('../../images/1.jpg'); background-repeat: no-repeat;
    background-position: center top;
    background-size: 10px;
}

#title {
    color:slateblue;
    font-size: xx-large;
}

#today {
    color: white;
    background-color: rgb(0, 120, 215);
}
