table, tr, td {
    border:1px solid black;
    text-align: center;
    margin: auto;
    background-color:aquamarine;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
}

.my {
    background-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/circle_red.png);
}